#title{
    font-size: 60px;
    color: rgb(53, 101, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #19f3c7;
    margin-left: 40px	;
    margin-right: 40px;
    border-style:solid;
    text-align: center;
  }
  #sfondo{
        background-color:rgba(3, 3, 3, 0.76);
        }
    }